{% extends "::base.html.twig" %}


{% block title %} Impression {% endblock %}


{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-eye"></i> Impression</a></li>
            <li class="active">Aperçu</li>
        </ol>

        {% if success is defined  %}

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="box box-success box-solid" style="margin-bottom: 0px;">
                        <div class="box-header with-border">
                            <h3 class="box-title">Succès</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {{ success }}
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>

        {% endif %}

    </section>


    <section class="content">


        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-eye"></i>
                   {{ libelle }}

                </h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body" id="box-container">

                {% if demandes is empty  %}
                    <h3 style="text-align: center;">Aucun enregistrement trouvé</h3>
                {% else %}

                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary avoid-this" id="btn_print">
                            <i class="fa fa-print"></i>
                            Imprimer
                        </button>
                    </div>

                    <div id="html-2-pdfwrapper" class="col-md-12">

                        {% if id == 0 %}
                            {% for i in demandes %}

                                <div class="impression" style="font-size: 25px;padding: 110px 70px 10px 85px;">
                                    {% if i.typeDemande == 'Duplicata' %}
                                        <p class="text-red pull-right" style="text-transform: uppercase;font-size: 35px !important; margin-right: 30px !important;margin-top: 8px !important;font-family: 'Alfa Slab One'">
                                            {{ i.typeDemande }}</p>
                                        <div style="margin-top: 72px;"></div>
                                    {% else %}
                                        <p class="text-white" style='margin-top:50px; margin-bottom: 50px;'>{{ i.typeDemande }}</p>
                                        <div style="margin-top: 53px;"></div>
                                    {% endif %}

                                    <p class="pull-right">
                                        <span style="margin-right: 170px!important;font-size: 20px !important;" class="text-bold">{{ i.etudiant.dateExamen }} </span>
                                    </p>

                                    <p style="padding-bottom: 60px !important;"></p>

                                    <p class="demande" data-id="{{ i.id }}">
                                        <span class="text-bold" style="margin-left:170px!important;font-size: 35px !important;font-family: 'Italianno';">
                                            {{ i.etudiant.nom }}&nbsp;&nbsp;{{ i.etudiant.prenom }}</span>
                                    </p>

                                    <p style="padding-bottom: 43px !important;"></p>

                                    <p class="">
                                        <span class="text-bold" style="margin-left:150px!important;margin-top:50px!important;">{{ i.etudiant.optionEtud }}</span>
                                    </p>

                                    <p class="">
                                        <span class="text-bold" style="margin-left:150px!important;margin-top:7px!important;">{{ i.etudiant.specialite }}</span>
                                    </p>

                                    <p class="">
                                        <span class="text-bold" style="margin-left:150px!important;margin-top:11px!important;">{{ i.etudiant.mention }} </span>
                                    </p>

                                    <p class="pull-right" style="font-size: 13px !important; margin-right: 100px!important;margin-top:45px!important;">{{ current_date }}</p>
                                    <p style="margin-top: 150px !important;">
                                        <span style="margin-left: 40px;font-size: 15px !important;text-decoration: underline;margin-right: 350px !important;">
                                        {{ directeurAcademique.valeur }}
                                        </span>
                                        <span class="" style="font-size: 15px !important;text-decoration: underline;margin-right: 0px !important;">
                                            {{ directeurGenerale.valeur }} </span>
                                    </p>
                                </div>


                                <div style="page-break-after:always"></div>


                            {% endfor %}

                            {% else %}

                                <div class="impression" style="font-size: 25px;padding: 110px 70px 10px 85px;">
                                    {% if demandes.typeDemande == 'Duplicata' %}
                                        <p class="text-red pull-right" style="text-transform: uppercase;font-size: 35px !important; margin-right: 30px !important;margin-top: 8px !important;font-family: 'Alfa Slab One'">
                                            {{ demandes.typeDemande }}</p>
                                        <div style="margin-top: 72px;"></div>
                                    {% else %}
                                        <p class="text-white" style='margin-top:50px; margin-bottom: 50px;'>{{ demandes.typeDemande }}</p>
                                        <div style="margin-top: 53px;"></div>
                                    {% endif %}

                                    <p class="pull-right">
                                        <span style="margin-right: 170px!important;font-size: 20px !important;" class="text-bold">{{ demandes.etudiant.dateExamen }} </span>
                                    </p>

                                    <p style="padding-bottom: 60px !important;"></p>

                                    <p class="demande" data-id="{{ demandes.id }}">
                                        <span class="text-bold" style="margin-left:170px!important;font-size: 35px !important;font-family: 'Italianno';">
                                            {{ demandes.etudiant.nom }}&nbsp;&nbsp;{{ demandes.etudiant.prenom }}</span>
                                    </p>

                                    <p style="padding-bottom: 43px !important;"></p>

                                    <p class="">
                                        <span class="text-bold" style="margin-left:150px!important;margin-top:50px!important;">{{ demandes.etudiant.optionEtud }}</span>
                                    </p>

                                    <p class="">
                                        <span class="text-bold" style="margin-left:150px!important;margin-top:7px!important;">{{ demandes.etudiant.specialite }}</span>
                                    </p>

                                    <p class="">
                                        <span class="text-bold" style="margin-left:150px!important;margin-top:11px!important;">{{ demandes.etudiant.mention }} </span>
                                    </p>

                                    <p class="pull-right" style="font-size: 13px !important; margin-right: 100px!important;margin-top:45px!important;">{{ current_date }}</p>
                                    <p style="margin-top: 150px !important;">
                                        <span style="margin-left: 40px;font-size: 15px !important;text-decoration: underline;margin-right: 350px !important;">
                                        {{ directeurAcademique.valeur }}
                                        </span>
                                        <span class="" style="font-size: 15px !important;text-decoration: underline;margin-right: 0px !important;">
                                            {{ directeurGenerale.valeur }} </span>
                                    </p>
                                </div>


                        {% endif %}

                    </div>

                {% endif %}


            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                {#Footer#}
            </div>
            <!-- /.box-footer-->
        </div>
    </section>

{% endblock %}