{% extends "::base.html.twig" %}

{% block title %} Tableau de board {% endblock %}

{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="callout callout-success hide">
            <h4>Tip!</h4>

            <p>Add the fixed class to the body tag to get this layout. The fixed layout is your best option if your sidebar
                is bigger than your content because it prevents extra unwanted scrolling.</p>
        </div>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-dashboard"></i>
                    Tableau de bord
                </h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ nbDemandesYear }}</h3>

                            <p>Total demandes de l'année</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer hide">More info <i
                                    class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-blue">
                        <div class="inner">
                            <h3>{{ nbImpressionsYear }}</h3>

                            <p>Total impressions de l'année</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-printer-outline"></i>
                        </div>
                        <a href="#" class="small-box-footer hide">More info <i
                                    class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            {% if nbResteAImprimer == null  %}
                                <h3>0</h3>
                            {% else %}
                                <h3>{{ nbResteAImprimer }}</h3>
                            {% endif %}

                            <p>Reste à imprimer</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-printer"></i>
                        </div>
                        <a href="#" class="small-box-footer hide">More info <i
                                    class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            {% if nbOriginauxYear == null  %}
                                <h3>0</h3>
                            {% else %}
                                <h3>{{ nbOriginauxYear }}</h3>
                            {% endif %}

                            <p>Total originaux</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-android-contact"></i>
                        </div>
                        <a href="#" class="small-box-footer hide">More info <i
                                    class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            {% if nbDuplicataYear == null  %}
                                <h3>0</h3>
                            {% else %}
                                <h3>{{ nbDuplicataYear }}</h3>
                            {% endif %}

                            <p>Total duplicata</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-android-contacts"></i>
                        </div>
                        <a href="#" class="small-box-footer hide">More info <i
                                    class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-12 text-center img-responsive hide" >
                    <img class="" style="width: 20%;height: 10%;" src="{{ asset('img/logo_esag.jpg') }}">
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                {#Footer#}
            </div>
            <!-- /.box-footer-->
        </div>
    </section>
    <!-- /.content -->
    <!-- /.content-wrapper -->

{% endblock %}